<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Registration Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/resources/assets/bootstrap/css/bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/resources/assets/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/resources/assets/plugins/iCheck/square/blue.css">
</head>
<body class="hold-transition register-page">
<div class="register-box">
    <div class="login-logo">
        <p>公交线路查询系统管理端</p>
    </div>

    <div class="register-box-body">
        <p class="login-box-msg">请输入以下信息</p>

        <form id="register_form">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="userName" placeholder="userName">
            </div>
            <div class="form-group has-feedback">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" name="phone" placeholder="phone">
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="userPassword" placeholder="Password">
            </div>
            <div class="row">
                <div class="col-xs-8">
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary btn-block btn-flat" onclick="addUser()">注册</button>
                </div>
            </div>
        </form>
        <a href="/login" class="text-center">直接登录</a>
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->

<!-- jQuery 2.2.3 -->
<script src="/resources/assets/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/resources/assets/bootstrap/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="/resources/assets/plugins/iCheck/icheck.min.js"></script>
<script>
    function addUser() {
        var params = $("#register_form").serializeArray();
        $.ajax({
            type: 'post',
            url: '/registerData',
            data: params,
            async: false,
            success: function (data) {
            },
            error: function (e) {
            }
        });
    }
</script>
</body>
</html>
